@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  overflow-x: auto;
  white-space: nowrap;
  white-space: -moz-nowrap !important;
  white-space: -nowrap;
  white-space: -o-nowrap;
  word-wrap: break-word;
  font-family: inherit;
  margin: 0 !important;
  padding: 0 !important;
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

.fade-to-bottom {
  -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 55%);
  mask-image: linear-gradient(to bottom, transparent 25%, black 55%);
}

.fade-to-top {
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 100%);
  mask-image: linear-gradient(to top, transparent 25%, black 100%);
}

@function random-pct() {
  @return random(40) + 40%;
}

.blob {
  &.animate {
    animation: spin 10s infinite alternate-reverse;
  }

  &.layer-1 {
    --bg-color-from: rgb(39, 134, 200);
    --bg-gradient-from: radial-gradient(
      circle,
      rgba(39, 133, 200, 1) 0%,
      rgba(205, 133, 228, 1) 33%,
      rgba(199, 174, 227, 1) 66%,
      rgba(39, 134, 200, 1) 100%
    );

    --blur: 5rem;
  }

  &.layer-2 {
    --bg-color-from: rgb(38, 115, 208);
    --bg-gradient-from: radial-gradient(
      circle,
      rgba(158, 94, 147, 0.75) 0%,
      rgba(244, 237, 201, 0.75) 33%,
      rgba(64, 79, 115, 0.75) 66%,
      rgba(158, 94, 147, 0.75) 100%
    );

    --blur: 2rem;
  }

  &.layer-3 {
    --bg-color-from: rgb(38, 115, 208);
    --bg-gradient-from: radial-gradient(
      circle,
      rgba(38, 115, 208, 1) 0%,
      rgb(169, 220, 255) 33%,
      rgba(153, 126, 215, 1) 66%,
      rgba(38, 115, 208, 1) 100%
    );

    --blur: 1rem;
  }

  background-color: var(--bg-color-from);
  background-image: var(--bg-gradient-from);
  background-size: 350%;
  background-position: left;

  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(var(--blur));

  @for $i from 1 through 100 {
    $a: random-pct();
    $b: 100% - $a;
    $c: random-pct();
    $d: 100% - $c;
    $e: random-pct();
    $f: 100% - $e;
    $g: random-pct();
    $h: 100% - $g;
    border-radius: #{$a $b $c $d} / #{$e $f $g $h};
    animation-duration: 10s;
  }
}

@keyframes spin {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
    transform: rotate(-360deg);
  }
}
