@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  overflow-x: auto;
  white-space: nowrap;
  white-space: -moz-nowrap !important;
  white-space: -nowrap;
  white-space: -o-nowrap;
  word-wrap: break-word;
  font-family: inherit;
  margin: 0 !important;
  padding: 0 !important;
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

.fade-to-bottom {
  -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 55%);
  mask-image: linear-gradient(to bottom, transparent 25%, black 55%);
}

.fade-to-top {
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 100%);
  mask-image: linear-gradient(to top, transparent 25%, black 100%);
}
